/* selectores
body
#id
.clase */

body{
  margin: 0px;
  padding: 0px;
  text-align: center;

  /* fuentes */
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

header{
  height: 100px;
  width: 100%;
  background: white;
  /* border-bottom: 1px solid black; */
  border-top: 4px solid rgb(113, 186, 235) ;
}

.center{
  width: 90%;
  margin: 0px auto;
}

.clearfix{
  clear: both;
  float: none;
}

#logo{
  width: 30%;
  font-size: 30px;
  float: left;
  margin-top: 25px;
}


#logo img{
  display: block;
  float: left;
  height: 60px;
  margin-top: -10px;
  border-radius: 10px;
  animation: girar infinite 30s linear;
}


@keyframes girar{
  from{
      transform: rotate(0deg);
  }
  
  to{
      transform: rotate(360deg);
}    
}

#brand{
 
  display: block;
  margin-left: 7px;
  float:left;
}

#menu{
  width: 70%;
  float: left;
  font-size: 18px;
}

#menu ul{
  line-height: 80px;
  width: 60%;
  float: right;
}

#menu ul li{
  display: block;
  display: inline-block;
  list-style: none;
  height: 40px;
  margin-left: 15px;
  margin-right: 15px;
}

#menu a{
  text-decoration: none;
  color: black;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  transition: all 300ms;
}

#menu a:hover{
  color: rgb(101, 187, 187);
}

#slider{
  background: rgb(144, 205, 233);
  width: 100%;
  height: 350px;
  /* line-height: 175px; */
  text-align: center;
  /* degrsdado css */
  background: rgb(0,212,255);
  background: radial-gradient(circle, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 82%, rgba(2,0,36,1) 100%); 
}

#slider h1{
  padding-top: 138px;
}

.btn-white{
  display: block;
  color: #000;
  background: rgb(187, 187, 177);
  padding: 10px;
  width: 90px;
  height: 35px;
  margin: auto;
  font-size: 18px;
  text-transform: uppercase;
  text-shadow: none;
  text-decoration: none;
  line-height: 35px;
  box-shadow: 0px 0px 5px #444;
  margin-top: 40px;
  border-radius: 5px; 
}

.btn-white:hover{
  background: rgb(241, 245, 248);
}

#slider.slider-small {
  height: 150px;
}

#slider.slider-small h1{
  padding-top: 50px;
}

#content{
  width: 70%;
  float: left;
  min-height: 450px;
  margin-right: 25px;
}

#sidebar{
  width: 25%;
  float: left; 
}

.sidebar-item{
  background: rgb(234, 237, 241);
  padding: 20px;
  margin-top: 30px;
}

.sidebar-item h3{
  text-transform: uppercase;
  font-size: medium;
  margin: 0px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid rgb(120, 159, 190);
}

.sidebar-item .btn{
  margin: auto;
  margin-top: 10px;
}

.btn {
  display: block;
  background: rgb(161, 152, 243);
  color: aliceblue;
  padding: 10px;
  font-size: small;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  max-width:130px ;
  border: none;
  cursor: pointer;
  transition: 300ms;
}

.btn-success:hover{
  background: rgb(76, 116, 143);
}

.mid-form{
  width: 50%;
  margin: auto;
}

.mid-form label{
  display: block;
  float: left;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 17px;
}

input[type="text"], textarea{
  width: 100%;
  min-height: 30px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  border-radius: 7px;
  padding: 4px;
  transition: 300ms all;
}
input[type="text"]:focus{
  box-shadow: 0px 0px 3px  rgb(38, 38, 51) inset;
}

textarea{
  width: 100%;
  height: 100px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 300px;
}

.radio-btn{
  margin-top: 15px;
  margin-bottom: 15px;
  float: left;
}

#footer{
  background: rgb(235, 239, 241);
  width: 100%;
  height: 70px;
  line-height: 70px;
  color: #444;
}

footer p{
  margin: auto;
  padding: auto;
}

.article-item{
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: left;
}

.article-item .image-wrap{
  width: 130px;
  height: 130px;
  overflow: hidden;
  float: left;
  margin-right: 15px;
  border: 1px solid #ccc;
}

.article-item .image-wrap img{
  height: 100%;
  text-align: center;
}

.article-item h2{
  display: block;
  width: 100%;
  padding: auto;
  margin: auto;
  margin-bottom: 7px;
}

.article-item .date{
  display: block;
  width: 100%;
  color: rgb(122, 121, 121);
}

.article-item a{
  display: block;
  color: #444;
  text-decoration: none;
  margin-top: 10px;
}

.article-item a:hover{
  text-decoration: underline;
}

.subheader{
  font-size: 36px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.article-detail .image-wrap{
  float: none;
  width: 100%;
  height: 300px;
}

.article-detail .image-wrap img{
  width: 100%;
  height: auto;
}

.article-detail .subheader{
  margin-top: 10px;
  margin-bottom: 5px;
  border: none;
}

/* RESPONSIVE */

@media(max-width:1240px){
  .center{
      width: 95%;
  }

  #menu ul{
      width: 85%;
  }
}

@media(max-width:830px){
  .center{
      width: 95%;
  }

  #menu ul{
      width: 90%;
  }
}

@media(max-width:814px){
  #logo{
      float: none;
      width: 240px;
      margin: auto;
      margin-top: 20px;
  }

   #menu, #menu ul{
      clear: both;
      float: none;
      width: 100%;
      margin: auto;
      padding: auto;
      line-height: 43px;
  }

  #content {
      float: none;
      width: 100%;
  }

  #sidebar {
      float: none;
      width: 70%;
      margin: auto;
      margin-bottom: 50px;
  }

  #slider h1{
      padding-top: 115px;
      font-size: 25px;
  }

  .mid-form{
      width: 70%;
  }
}

@media(max-width:546px){
  #header{
      min-height: 130px;
      overflow: hidden;
  }

 #menu, #menu ul{
      line-height: 50px;
  }

  #menu ul li{
      margin-left: 7px;
      margin-right: 7px;
  }

  #slider{
      height: 150px;
  }

  #slider h1{
      font-size: 18px;
      padding-top: 30px;
  }

  #slider .btn-white{
      margin-top: 20px;
  }

  #slider.slider-small{
      height: 100px;
  }

  #slider.slider-small h1{
      padding-top: 35px;
      font-size: 25px;
  }
}